* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2,
p {
  margin: 0.25rem 0;
}

/* Navigation Stylings */
.navbar {
  height: 70px;
  line-height: 80px;
  padding: 0 35px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 26px;
}

/* Hero Section Styles */
.hero {
  padding: 5% 35px;
}

.hero-image {
  width: 75%;
  display: flex;
  margin: 0 auto;
}

.hero-text {
  font-family: "Poppins", sans-serif;
}

.hero-text h1 {
  font-size: 2.25em;
  margin: 2em 0 0 0;
  font-weight: 600;
}

.hero-text p {
  width: 20rem;
  font-weight: 300;
}

/* Cards Styling */
.cards-list {
  padding: 2% 10%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 0.75rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-content {
  margin-top: 0.5rem;
}

.star {
  width: 14px;
}

.card-title {
  font-size: 0.75rem;
  font-weight: normal;
}

.gray-text {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .navbar {
    padding: 0 10%;
  }

  .hero {
    padding: 2% 10%;
  }
}
